{% extends "networth/baseNetworth.html" %}
{% load static %}
{% block content %}
    <h1>details</h1>
        <table>
        <form method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}

            <div class="form-group">
                <tr>
                    <td><label for="{{ form.cashRate.id_for_label }}">Cash Rate</label></td>
                    <td>{{ form.cashRate }}</td>
                </tr>
                <tr>
                <td><label for="{{ form.reRate.id_for_label }}">Real Estate  Rate</label></td>
                <td>{{ form.reRate }}<br><br></td>
                </tr>
                <tr>
                    <td><label for="{{ form.iaRate.id_for_label }}">Investment Account Rate</label></td>
                    <td>{{ form.iaRate }}<br><br></td>
                </tr>
                <tr>        
                <td><label for="{{ form.otherRate.id_for_label }}">Other Rate</label></td>
                <td>{{ form.otherRate }}<br><br></td>
                </tr>
                <tr>
                <td><label for="{{ form.slRate.id_for_label }}">Student Loan Rate</label></td>
                <td>{{ form.slRate }}<br><br></td>
                </tr>
                <tr>
                <td><label for="{{ form.mdRate.id_for_label }}">Mortage Debt  Rate</label></td>
                <td>{{ form.mdRate }}<br><br></td>
                <tr>  
                <td><label for="{{ form.plRate.id_for_label }}">Credit Card Rate</label></td>
                <td>{{ form.plRate }}<br><br></td>
                </tr>
                <tr>
                <td><label for="{{ form.otherRateL.id_for_label }}">Other Rate</label></td>
                <td>{{ form.otherRateL }}<br><br></td>
                </tr>
                <tr>
                <td><label for="{{ form.yearLib.id_for_label }}">Years of Liabilities</label></td>
                <td>{{ form.yearLib }}<br><br></td>
                </tr>
            </div>
            <tr>
            <td><button type="submit">Submit</button></td>
            </tr>
        </form>
    </table>
{% endblock content %}