{% extends "networth/baseNetworth.html" %}
{% load static %}
{% block content %}

<div class="container">
  <br>
  <h1 style="margin-left: 375px; font-family: &quot;Playfair Display&quot;, serif">Networth for Next 10 Years...</h1>
    <br>
    <div class="row">
        <div class="col-md-8">
          <a href="{% url "export_excel_networth" %}" class="btn btn-info">Export EXCEL</a>
          <a href="{% url "export_csv_networth" %}" class="btn btn-info">Export CSV</a>
        </div>
    </div>
      <br>
      <br>
    <div class="app-table">
        <table class="table table-stripped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>year</th>
              <th>Networth</th>
              <th>Asset</th>
              <th>Liabilities</th>
              
            </tr> 
          </thead>
  
          <tbody>
            {% for dataNet,dataAss,dataLib in zipped_data %}
            <tr>
              <td></td>
              <td>{{forloop.counter}}</td>
              <td>{{dataNet}}</td>
              <td>{{dataAss}}</td>
              <td>{{dataLib}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    <br>
    <br>
    <br>


    </div>

{% endblock content %}
