.container-form {
  display: flex;
  flex-direction: row;
}

h1{
  margin-left: 370px;
}

h3{
  margin-left: 100px;
}

.left-column,
.right-column {
  flex: 1;
}

.left-column{
  margin-left: 130px;
}

.right-column {
  margin-left: 40px; /* Adjust as needed */
}

button[type="submit"] {
  margin-top: 50px;
  margin-left: 530px;
  display: block;
}



